@model CartIndexVM

@{
    ViewData["Title"] = "Index";

}

<div class="cart-table-area section-padding-100">
    @if(Model.BasketItems !=null && Model.BasketItems.Count > 0)
    {
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="cart-title mt-50">
                    <h2>Shopping Cart</h2>
                </div>

                <div class="cart-table clearfix">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model.Products)
                            {
                                <tr>
                                    <td class="cart_product_img">
                                        <a href="#"><img src="~/productimg/@product.ProductImages.FirstOrDefault()?.ImageName" alt="Product"></a>
                                    </td>
                                    <td class="cart_product_desc">
                                        <h5>@product.Name</h5>
                                        <a asp-asp-controller="Cart" asp-action="RemoveFromBasket" asp-route-id="@product.Id" class="delete"> <i class="fa fa-close"></i>Remove </a>
                                    </td>
                                    <td class="price">
                                        <span>$@product.Price </span>
                                    </td>
                                    <td class="qty">
                                        <div class="qty-btn d-flex">
                                            <p>@Model.BasketItems.FirstOrDefault(item => item.ProductId == product.Id)?.Count</p>

                                            <div class="quantity">
                                                <span class="qty-minus" onclick="updateQuantity(" @Model.BasketItems.FirstOrDefault().ProductId", - 1)"><i class="fa fa-minus incbtn" aria-hidden="true"></i></span>
                                                <input type="number" class="qty-text" id="@Model.BasketItems.FirstOrDefault().ProductId" , step="1" min="1" max="300" name="quantity" value="@Model.BasketItems.FirstOrDefault(item => item.ProductId == product.Id)?.Count" @product.Price>
                                                <span class="qty-plus incbtn" onclick="updateQuantity('@Model.BasketItems.FirstOrDefault().ProductId, 1)"><i class="fa fa-plus" aria-hidden="true"></i></span>

                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="cart-summary">
                    <h5>Cart Total</h5>
                    <ul class="summary-table">
                        @*<li><span>subtotal:</span> <span>Model.Products.FirstOrDefault().Price*Model.BasketItems.FirstOrDefault().Count</span></li>*@
                        <li><span>delivery:</span> <span>Free</span></li>
                            <li><span>total:</span> <span> @(Model.Products.FirstOrDefault().Price*@Model.BasketItems.Select(a=>a.Count).Sum())</span></li>
                    </ul>
                    <div class="cart-btn mt-100">
                        <a asp-controller="Checkout" asp-action="Index" class="btn amado-btn w-100">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
        </div>

    }
    else
    {
        <h5 style="text-align:center">YOUR SHOPPING CART IS EMPTY</h5>
    }
</div>
